<h1>投稿が完了しました！</h1>
<h4>User Name: <%= @post.user.name %></h4>
<h4>↓↓↓投稿内容の確認↓↓↓</h4>
<p>--------------------</p>
<p>Content: <%= @post.content %></p>
<p>Image: <%= image_tag @post.image.url %></p>
<p>--------------------</p>
